<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

</head>
<body>
    <div class="container">
    	<h1>Se va a cerrar la sesión</h1>
    	
    	<div class="card text-center">
		  <div class="card-header">
		    ¿Que desea hacer?
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Cerrar sesión en este servicio</h5>
		    <p class="card-text">Se cerrará sesión en este servicio, pero la sesión del CAS seguirá abierta.</p>
		    <button type="button" class="btn btn-primary btn-lg btn-block"
    		onclick="location.href='https://mucs.oidcclient.com:8003/logout?logout=service'">Cerrar sesión en este servicio</button>
		  </div>
		  
		  <div class="card-body">
		    <h5 class="card-title">Cerrar sesión en CAS</h5>
		    <p class="card-text">Se cerrará sesión en este servicio y en CAS. Tenga en cuenta que si ha accedido a otros servicios su sesión seguirá iniciada. Para cerrarlas hágalo manualmente o cierre el navegador.</p>
		    <button type="button" class="btn btn-secondary btn-lg btn-block"
    		onclick="location.href='https://mucs.oidcclient.com:8003/logout?logout=cas'">Cerrar sesión en este servicio y en CAS</button>
		  </div>
		</div>

    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>